#body_content{
  margin:auto;
  width: 50;
  text-align: center;
}

body{
  margin:0;
  background-color: #36393f;
  color:white;
}

.form-control{
  width: 150px;
  box-sizing : border-box;
  margin:auto;
}

.button{
  text-align: center;
  border: 1px solid black;
  padding: 5px 20px;
  background-color :#008CBA;
  color:white;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  background-color: #202225;
  overflow: hidden;
}

li{
  float:left;
}

li a{
  display: block;
  color:white;
  text-align:center;
  padding:20px 19px;
  text-decoration: none;
}


li a:hover{
  background-color:#111;
}
table {
  border-collapse: collapse;
  margin:auto;
}

th, td {
  padding: 15px;
}

th {
  background-color: #202225;
  color: white;
}


.delete, .edit{
  color:white;
  transition: 0.2s;
}

.delete:hover{
  color: red;
}

.edit:hover{
  color:yellow;
}

.icon{
  margin-right: 7px;
}
.button1{
  margin:auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  background-color :#4d78cc;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}


.button1:hover{
  background-color:green;
}

input[type=text],input[type=password] {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.userBlock{
  margin:auto;
  width: 50%
  padding: 10px;
  text-align: center;
}

.footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202225;
  color: white;
  text-align: center;
}