<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('style.css')}}">
        {% endblock %}
        <meta charset="UTF-8">
        <title>Welcome !</title>
    </head>
        <!-- Fonts -->
    <body>
        {% block header %}
        <div class="header">
            <h1>Book</h1>
        </div> 
        {% endblock %}
        {% block body %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>